.job{
    padding:0 20px;
}
.job-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin: 100px auto;
    margin-bottom: 50px;
}
.job-description{
    max-width: 600px;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
}