.cover-letter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
}
.cover-letter h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin: 1rem 0;
}
.cover-letter p{
    
    font-size: 13px;
    color: #333;
    margin: 10px 0;
}