@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  min-height: 100vh;
  color:black;
  background-color: #0066b2;
  padding:10px;
}
.app-box{
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.hero{
  max-width: 600px;
  margin: 120px auto 90px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}